#
# Updates README.md with latest commit dates
# for repos listed in `config.yaml`
#

name: "Scheduled: Update README.md"
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' # Midnight: https://crontab.guru/#0_0_*_*_*
  pull_request: 
    branches: [main]
  push:
    branches:
      - main
    paths: 
      - config.yaml
      - README.md.j2
      - repos.py
      - .github/workflows/scheduled-update-readme.yaml

permissions:
  contents: write

jobs:
  readme:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@d72941d797fd3113feb6b93fd0dec494b13a2547 # v1
        id: app-token
        with:
          app-id: "${{ secrets.BOTTY_HILL_APP_ID }}"
          private-key: "${{ secrets.BOTTY_HILL_PRIVATE_KEY }}"
        if: github.ref == 'refs/heads/main'

      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Install uv
        uses: astral-sh/setup-uv@d4b2f3b6ecc6e67c4457f6d3e41ec42d3d0fcb86 # v5

      - name: Run Script
        shell: bash
        env:
          GITHUB_USER: ${{ github.repository_owner }}
          GITHUB_TOKEN: ${{ secrets.READ_REPO_TOKEN }}
        run: uv run repos.py

      - run: cat ./README.md

      - name: Commit and push changes
        run: |
          git config --global user.name "botty-hill[bot]"
          git config --global user.email "botty-hill[bot]@users.noreply.github.com"
          git add README.md
          git diff-index --quiet HEAD || git commit -m "chore: update README.md"
          git push
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        if: github.ref == 'refs/heads/main'
