#
# Updates README.md with latest commit dates
# for repos listed in `config.yaml`
#

name: "Scheduled: Update README.md"
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' # Midnight: https://crontab.guru/#0_0_*_*_*
  pull_request: 
    branches: [main]
  push:
    branches:
      - main
    paths: 
      - config.yaml
      - README.md.j2
      - repos.py
      - .github/workflows/scheduled-update-readme.yaml

permissions:
  contents: write

jobs:
  readme:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        id: app-token
        with:
          app-id: "${{ secrets.BOTTY_HILL_APP_ID }}"
          private-key: "${{ secrets.BOTTY_HILL_PRIVATE_KEY }}"
        if: github.ref == 'refs/heads/main'

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7

      - name: Run Script
        shell: bash
        env:
          GITHUB_USER: ${{ github.repository_owner }}
          GITHUB_TOKEN: ${{ secrets.READ_REPO_TOKEN }}
        run: uv run repos.py

      - run: cat ./README.md

      - name: Commit and push changes
        run: |
          git config --global user.name "botty-hill[bot]"
          git config --global user.email "botty-hill[bot]@users.noreply.github.com"
          git add README.md
          git diff-index --quiet HEAD || git commit -m "chore: update README.md"
          git push
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        if: github.ref == 'refs/heads/main'
